@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
}

:root {
      --color-white: #f3f3f3;
      --color-darkblue: #1b1b32;
      --color-darkblue-alpha:rgba(10, 8, 20, 0.8);
      --color-green: #059862;
}

